@import 'settings';

.header{
    min-height: 7rem;
    border-bottom: $blue 2px solid;
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .header-inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }
    .brand{
        img{
            width: 13rem;
        }
        span{
            border-left: 2px solid $notdark-grey;
            padding-left: 0.7rem;
            margin-left: 0.5rem;
            color: $blue;
            font-size: $xs-font;
        }
        .brand-link{
            display: flex;
            flex-basis: 40%;
            text-transform: uppercase;
            height: 100%;
            align-items: center;
        }
    }
    .nav-group{
        flex-basis: 40%;
        font-size: $m-font;
    }
    .nav-link{
        text-transform: uppercase;
        margin-right: $l-size;
        height: 100%;
        padding: $s-size;
        background-color: $white;
        color: $blue;
        transition: all ease-in-out 500ms;
    }
    .nav-link:hover{
        color: $dark-blue !important;
        background-color: $light-grey;
        transition: all ease-in-out 500ms;
    }
    
}