// sizes:

$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 5rem;

//colors: 

$dark-grey: #34333a;
$notdark-grey: #686b72;
$middle-grey: #99999c;
$light-grey: #ede3de;
$white: #fff;
$dark-blue: #024d8c;
$blue: #046ec8;
$red: #ff633c;
$green: #49b795;

$desktop-breakpoint: 1100px;

// fonts

$main-font: Arial;
$xs-font: 0.9rem;
$m-font: 1.2rem;
$l-font: 1.5rem;